
.list{
    color: black;
}
.reveal{
    color: black;
}

.in{
    height: 2vh;
    margin: 3%;
    font-size: 2vh;
}

.in2{
    height: 5%;
    margin: 3%;
    font-size: 2vh;
}

.imgs{
    height: 400px;
    width: 400px
}

.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr)
}